<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        
        <!-- Messages -->
        {% with mensajes = get_flashed_messages() %}
            {% for mensaje in mensajes %}
                {{ mensaje }}
            {% endfor %}
        {% endwith %}

        <form action="" method="POST">
            {% from "macros.html" import render_field %}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.repassword) }}
            <input type="submit" value="Register">
        </form>
    </body>
</html>